flow3
[
    {
        "id": "3c23a831.cdb5b8",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2c67459b.2aef3a",
        "type": "inject",
        "z": "3c23a831.cdb5b8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "2130285.28288d8",
                "9123d1f1.af139"
            ]
        ]
    },
    {
        "id": "2130285.28288d8",
        "type": "function",
        "z": "3c23a831.cdb5b8",
        "name": "Payload",
        "func": "msg.headers = {\n    deviceKey: \"qmGsILCR4BH0d4y1\"\n    };\nmsg.payload = \"Temperature,,28.7\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "c94e4fce.aaf18"
            ]
        ]
    },
    {
        "id": "c94e4fce.aaf18",
        "type": "http request",
        "z": "3c23a831.cdb5b8",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://api.mediatek.com/mcs/v2/devices/DIeOP0pD/datapoints.csv",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 570,
        "y": 300,
        "wires": [
            [
                "9cead6af.d31218",
                "b3d06dcd.35ec4"
            ]
        ]
    },
    {
        "id": "9cead6af.d31218",
        "type": "http response",
        "z": "3c23a831.cdb5b8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "b3d06dcd.35ec4",
        "type": "debug",
        "z": "3c23a831.cdb5b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 840,
        "y": 420,
        "wires": []
    },
    {
        "id": "9123d1f1.af139",
        "type": "function",
        "z": "3c23a831.cdb5b8",
        "name": "Payload1",
        "func": "msg.headers={\n    deviceKey: \"qmGsILCR4BH0d4y1\"\n    };\nmsg.payload= \"Humidity,,53.5\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "c94e4fce.aaf18"
            ]
        ]
    }
]
